---
layout: compress
---
<!-- this controls the home page -->
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="row">
                <a href="{{ site.url }}">
                    <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                </a>
                <h3 class="title">
                    <a class="zoombtn" href="{{ site.url }}">
                     <p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p>
                 </a>
             </h3>
             <h3 class="title">
                <a href="{{ site.url }}">
                 <p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
             </a>
         </h3>
         {% include social-links.html %}

         <hr class="hr-line">


     <!-- only some tags, act as categories -->
     {% assign site_tags = "Software Engineering,Research,Education,Coursework,Project"%}
     {% assign tags_list = site_tags | split:',' %}
     <ul class="entry-meta inline-list">
      {% for item in (0..tags_list.size) %}{% unless forloop.last %}
      {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
      <li><a href="#{{ this_word }}" class="tag"><span class="term">{{ this_word }}</span> <span class="count">{{ site.tags[this_word].size }}</span></a></li>
      {% endunless %}{% endfor %}
  </ul>

</div>

<div class='content'>
  {% for item in (0..tags_list.size) %}{% unless forloop.last %}
  {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
  <article>
      <h2 id="{{ this_word }}" class="tag-heading">{{ this_word }}</h2>
      <ul>
        {% assign back_tags = site.tags[this_word] | reverse %}
        {% for post in back_tags %}
            {% if post.title != null %}
            <li class="entry-title">
                <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>

                <!-- determine the number of tags -->
                {% assign num_tags = post.tags.size | minus:2 %}
                {% if num_tags >= 4 %}
                    {% assign num_tags = 4%}
                {% endif %}

                <!-- put in some tags below -->
                {% for id in (0.. num_tags) %}
                <a href="{{ site.url }}/tag/#{{ tag }}" title="Pages tagged {{ tag }}" class="mini-tag">{{ post.tags[id] }}</a>
                {% unless forloop.last %}
                    {% endunless %}
                {% endfor %}
                
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</article><!-- /.hentry -->
{% endunless %}{% endfor %}
</div>
</div>
</header>
{% include scripts.html %}
</body>
</html>
